.container {
  margin: 0 auto;
  max-width: 1260px;
  width: 100%;
  box-sizing: border-box;
}

.content {
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}